<div>
    <form>

        <div class="form-group" >
            <label for="textFormControlInput1">Email address</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nombre de la mascota">
          </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Años</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1 Años</option>
            <option>2 Años</option>
            <option>3 Años</option>
            <option>4 Años</option>
            <option>5 Años</option>
            <option>7 Años</option>
            <option>8 Años</option>
            <option>mas de 8 Años</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Tipo de cita</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Razón de la visita"></textarea>
        </div>
    </form>
</div>
